{% extends "base.html" %}

{% block content %}


		<h3 class="mb-3">Create your newsrack</h3>
		
		<form action="" method="post" novalidate class="block" style="max-width: 500px">
			{{ form.hidden_tag() }}
			<div class="mb-3">
				<label class="form-label">{{ form.username.label }}</label>
				{{ form.username(class="form-control" + (" is-invalid" if form.username.errors else ""), placeholder='mary123') }}
				{% if form.username.errors %}
					{% for error in form.username.errors %}
					  <div class="invalid-feedback">{{ error }}</div>
					{% endfor %}
				{% endif %}		
			</div>
			<div class="" id="register" style="margin-top: 40px">
				<div class="mb-3">
					<label class="form-label">{{ form.email.label }}</label>
					{{ form.email(class="form-control" + (" is-invalid" if form.email.errors else "")) }}
					{% if form.email.errors %}
						{% for error in form.email.errors %}
						  <div class="invalid-feedback">{{ error }}</div>
						{% endfor %}
				    {% endif %}
				</div>
				<div class="mb-3">
					<label class="form-label">{{ form.password.label }}</label>
					{{ form.password(class="form-control" + (" is-invalid" if form.password.errors else "")) }}
					{% if form.password.errors %}
						{% for error in form.password.errors %}
						  <div class="invalid-feedback">{{ error }}</div>
						{% endfor %}
					{% endif %}
				</div>
				<div class="mb-3">
					<label class="form-label">{{ form.password2.label }}</label>
					{{ form.password2(class="form-control" + (" is-invalid" if form.password2.errors else "")) }}
					{% if form.password2.errors %}
						{% for error in form.password2.errors %}
						  <div class="invalid-feedback">{{ error }}</div>
						{% endfor %}
					{% endif %}
				</div>
				<button class='btn btn-primary' id="submit">Submit</button>
			</div>
		</form>


{% endblock %}







